.AppHeader{
  height: 50px;
  display: flex;
  justify-content:space-between;
  align-items:center;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0,0.15);
  img{
    height:40px;
    border-radius: 100%;
  }
}