@import './index.css';

  
@tailwind base; 
@tailwind components;
@tailwind utilities;

@mixin s{
  background-color: gold;
}


.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-item-center {
  display: flex;
  align-items: center;
}


.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container{
  display: flex;
  width: 100%;
  background-color: pink;
}

.title{
  font-weight: 500;
  font-size: 24px;
}